 
    {% extends 'base.html' %}
    {% block title %}Data Analysis{% endblock %}
    {% block body %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='modules/ventas/estadisticas/css/estadisticas.css') }}" />

    <div class="container-fluid py-4">
    <h3 class="text-dark d-flex align-items-center text-shadow">
        <i class="fas fa-chart-line mr-2"></i>
        estadisticas
    </h3>

    <div class="row mt-3">
        <div class="col-md-12 mt-2">
        <div class="card rounded-lg border-0">
            <div class="card-body text-dark">contenido base</div>
        </div>
        </div>
    </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='modules/ventas/estadisticas/js/index.js') }}"></script>
    {% endblock %}
    