<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content rounded-3 border-0 shadow-lg">
      <!-- Header -->
      <div class="modal-header bg-lilac text-white header-modal">
        <h6 class="modal-title" id="changePasswordLabel">Cambiar Contraseña</h6>
        <button type="button" class="btn-close btn-close-white mt-3" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <!-- Body -->
      <div class="modal-body bg-light-lilac">
        <input type="hidden" id="users-modal-id-usuario" value="" />

        <form id="add-user-form">
          <div class="mb-3">
            <label for="userPassword" class="form-label text-dark">Contraseña</label>
            <div class="input-group">
              <input type="password" class="form-control" id="userPassword" placeholder="Nueva contraseña" />
              <span class="input-group-text" id="contraUser" style="cursor: pointer">
                <i id="iconChangePassword" class="fas fa-eye text-muted"></i>
              </span>
            </div>
          </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer bg-light-lilac">
        <button class="btn btn-outline-secondary bg-cancel" data-bs-dismiss="modal" id="cancelChangePasswordModal">Cancelar</button>
        <button type="button" id="updatePasswordModal" form="add-user-form" class="btn btn-lilac">Guardar</button>
      </div>
    </div>
  </div>
</div>
