:root {
  --color-body: #f1f1f1;
  --background-sidebar: linear-gradient(180deg, #4A148C, #5938a4, #283593);
  --welcome-message-color: white;
  --divider-color: 1px solid rgba(227, 253, 251, 0.2);
  --color-border-navbar-bottom: 2px solid #f0f0f0 ;
  --background-navbar:  #7e56b7  ; 
  --logout-button-color: #e63946;
  --logout-button-hover: #d62c1a;
  --color-module-active: rgba(174, 100, 249, 0.5);
  --color-module-active-border : 1px solid #3e006b;
  --color-module-active-hover: rgba(62, 0, 107, 0.7);
  --color-module-active-hover-border: #6f00cc;
  --color-module-active-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --color-module-sub-active: rgba(91, 0, 202, 0.5);
  --color-text-module-sub-active: #ffffff
  --custom-active-sub-hover-bg: rgba(91, 0, 202, 0.7);
  --custom-active-sub-hover-border: #8e2df5;
  --custom-active-sub-hover-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  --card-header-bg: #d1c4e9;
  --card-header-color: #1e293b;
  --background-color-scrollbar: #6e00cf; 
  --toggleSidebarBtn-hover: #b09eff;
  --btn-bg-color: rgba(251, 253, 254, 0.176); /* Azul con opacidad */
  --btn-text-color: white;
  --btn-border: none;
  --input-hover-border-color: #9c27b0; /* lila */
  --input-hover-shadow: 0 0 5px rgba(156, 39, 176, 0.5); /* glow suave */
  --input-transition: all 0.2s ease;
  --color-spin: #000ed1;
}

.no-transition {
  transition: none !important;
}

body {
  color: var(--color-body);; /* Gris muy suave */
}

#sidebarMenu {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 300px;
  height: auto;
  min-height: 100vh;
  opacity: 1;
  transform: translateX(0);
  background: var(--background-sidebar);
  color: var(--welcome-message-color);
  padding: 1.5rem 0;
  font-size: 1rem;
}

/* Media query para dispositivos pequeños (máximo 768px de ancho) */
@media (max-width: 768px) {
  #sidebarMenu {
    width: 300px; /* Ajuste del ancho del sidebar en pantallas pequeñas */
  }
}


#sidebarMenu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border-bottom: var(--divider-color) /* Separadores */
}

#sidebarMenu.hidden {
  transform: translateX(-100%);
  opacity: 0;
  width: 0;
}

.navbar {
  border-bottom: var(--color-border-navbar-bottom);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--background-navbar) !important;
  backdrop-filter: blur(10px) !important; /* Efecto de blur cristalizado */
}


.btn-outline-secondary {
  color: #fff;
}


#sidebarMenu .nav-item {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s, transform 0.3s ease-out;
}

#sidebarMenu:not(.hidden) .nav-item {
  opacity: 1;
  transform: translateX(0);
}

#content {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#wrapper:not(.hidden) #content {
  opacity: 1;
  transform: translateY(0);
}

/* configuración del sidebar */
#sidebarMenu {
  overflow-y: auto;
  max-height: 90vh;
}

/* Estilos para el scroll en Webkit (Chrome, Safari, Edge) */
#sidebarMenu::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

#sidebarMenu::-webkit-scrollbar-thumb {
  background-color: #7d00a3; /* Color del thumb (la parte que se mueve) */
  border-radius: 4px; /* Bordes redondeados */
}

#sidebarMenu::-webkit-scrollbar-thumb:hover {
  background-color: #9e00b9; /* Color del thumb al pasar el cursor */
}

#sidebarMenu::-webkit-scrollbar-track {
  background-color: #a5a4a5; /* Color de la pista del scroll */
  border-radius: 4px; /* Bordes redondeados */
}

#sidebarMenu .nav-link {
  opacity: 0.8; /* Hacer el texto un poco menos opaco */
  transition: opacity 0.3s ease;
}

#sidebarMenu .nav-link:hover {
  opacity: 1; /* Restablecer la opacidad al hacer hover */
}

#dashboardArrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Cambiado de left a right */
  z-index: 2000;
  display: none; /* Oculto por defecto */
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Azul más suave para el botón */
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#scrollToTopBtn i {
  font-size: 1.5rem;
}

#scrollToTopBtn:hover {
  background-color: #4b00b3; /* Azul más oscuro en hover */
}

/* Estilos para el enlace activo con fondo transparente y blur */
.custom-active {
  background-color: var(--color-module-active); /* Fondo con más armonía */
  color: #ffffff; /* Texto blanco puro */
  border: var(--color-module-active-border); /* Borde más delgado */
  border-radius: 10px; /* Bordes ligeramente redondeados */
  padding: 10px 15px; /* Espaciado */
  backdrop-filter: blur(8px); /* Fondo desenfocado */
  transition: all 0.3s ease-in-out; /* Transición suave */
}

.custom-active:hover {
  background-color: var(--color-module-active-hover); /* Fondo más intenso al pasar el mouse */
  border-color: var(--color-module-active-hover-border); /* Borde más claro en hover */
  box-shadow: var(--color-module-active-hover-shadow); /* Sombra para profundidad */
}

/* Estilos para el enlace activo con fondo transparente y blur */
.custom-active-sub {
  background-color: var(--color-module-sub-active); /* Fondo más vivo */
  color: var(--color-text-module-sub-active); /* Texto blanco puro */
  border: 1px solid #6e00cf; /* Borde más delgado */
  border-radius: 10px; /* Bordes ligeramente redondeados */
  padding: 10px 15px; /* Espaciado */
  backdrop-filter: blur(8px); /* Fondo desenfocado */
  margin-top: 2px; /* Separación vertical */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Transición más completa */
}

.custom-active-sub:hover {
  background-color: var(--custom-active-sub-hover-bg);
  border-color: var(--custom-active-sub-hover-border);
  box-shadow: var(--custom-active-sub-hover-shadow);
}



/* Estilo para la bienvenida compacta */
.welcome-container {
  padding: 1rem;
  border-radius: 10px;
}

.welcome-message {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.welcome-container i {
  margin-right: 7px;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.shadow-lg {
  box-shadow: 0 4px 6px rgb(199, 11, 11);
}

.rounded {
  border-radius: 8px;
}

.card-header {
  background-color: var(--card-header-bg);
  color: var(--card-header-color);
}


#contenidoModulo {
  max-height: 90vh; 
  overflow-y: auto;
}

/* Personalización del scrollbar */
#contenidoModulo::-webkit-scrollbar {
  width: 8px; /* Hace el scrollbar más compacto */
  height: 8px; /* También puedes modificar la altura del scrollbar horizontal si lo necesitas */
}

#contenidoModulo::-webkit-scrollbar-thumb {
  background-color: var(--background-color-scrollbar); /* Color morado para el "dedo" del scrollbar */
  border-radius: 10px; /* Hace que el thumb sea redondeado */
}

#contenidoModulo::-webkit-scrollbar-track {
  background: transparent; /* Hace que la pista del scrollbar sea invisible o transparente */
}

.container-fluid {
  max-width: 100%;
  min-height: 90vh;
  overflow-x: auto;
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


#toggleSidebarBtn {
  background-color: #9881ff;
  color: var(--btn-text-color);
  transition: background-color 0.3s ease;
}

#toggleSidebarBtn:hover {
  background-color: var(--toggleSidebarBtn-hover); /* Aumenta la opacidad al hacer hover */
}


  @media (max-width: 576px) { /* Para pantallas pequeñas */
    .modal-dialog {
      max-width: 90%; /* Ajusta el ancho del modal */
      margin: auto;  /* Centrar */
      margin-top: 10vh;
    }
  }

  body {
    font-family: 'Nunito', sans-serif;
  }
  
  input:hover {
    border-color: var(--input-hover-border-color);
    box-shadow: var(--input-hover-shadow);
    transition: var(--input-transition);
  }

  .color-spin {
    color: var(--color-spin);
  }
    
  /* Estilo del contenedor del input */
.choices__inner {
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.375rem !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  padding-left: 10px !important; /* Ajusta el valor según lo necesites */
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

/* Barra de búsqueda dentro de Choices.js */
.choices__input--cloned {
  padding-left: 10px !important;  /* Ajusta el valor según lo necesites */
}

.choices__list--dropdown .choices__item {
  color: #454545 !important; /* Cambia este valor por el color que quieras */
  font-family: 'Nunito', sans-serif !important;
  font-size: 1rem !important;  /* Ajusta el tamaño según lo necesites */
}

/* Borde al hacer focus */
.choices__inner.is-focused {
  border-color: #86b7fe !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

/* Input dentro del Choices (buscador) */
.choices__input {
  color: #495057 !important;
  background-color: transparent !important;
  padding-left: 0 !important;
}

/* Placeholder */
.choices__placeholder {
  color: #6c757d !important;
  opacity: 1 !important;
}

/* Opciones del dropdown */
.choices__list--dropdown .choices__item {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}


.fa-angle-down {
  font-size: 20px !important;
}

.fa-angle-up {
  font-size: 20px !important;
}


#user_name_welcome {
  font-size: 14px;
}

/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 767px) {

  #user_name_welcome {
    font-size: 14px;
  }


  #sidebarMenu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 200px;
    height: auto;
    min-height: 100vh;
    position: fixed;
    opacity: 1;
    transform: translateX(0);
    background: var(--background-sidebar);
    color: var(--welcome-message-color);
    padding: 1.5rem 0;
    font-size: 1rem;
    visibility: visible;
    z-index: 8000;
  }

  #sidebarMenu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 250px;
    height: auto;
    min-height: 100vh;
    position: fixed;
    opacity: 1;
    transform: translateX(0);
    background: rgba(68, 12, 137, 0.7);  /* Color de fondo con transparencia (ajustable) */
    color: var(--welcome-message-color);
    padding: 1.5rem 0;
    font-size: 1rem;
    visibility: visible;
    z-index: 8000;
    backdrop-filter: blur(10px);  /* Aplica el blur */

  }
  
  #sidebarMenu.hidden {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }

}

@keyframes parpadeo {
  0% {
    box-shadow: 0 0 2px rgba(138, 43, 226, 0.3), 0 0 5px rgba(138, 43, 226, 0.5); /* Morado claro */
  }
  25% {
    box-shadow: 0 0 2px rgba(138, 43, 226, 0.3), 0 0 5px rgba(138, 43, 226, 0.5);
  }
  50% {
    box-shadow: 0 0 4px rgba(138, 43, 226, 0.6), 0 0 10px rgba(138, 43, 226, 0.8); /* Morado brillante */
  }
  75% {
    box-shadow: 0 0 4px rgba(138, 43, 226, 0.6), 0 0 10px rgba(138, 43, 226, 0.8);
  }
  100% {
    box-shadow: 0 0 2px rgba(138, 43, 226, 0.3), 0 0 5px rgba(138, 43, 226, 0.5);
  }
}

/* esta clase hace que algo brille de forma parpadeante, pensado para cuando algo corre en segundo plano */
.div-brillante {
  animation: parpadeo 3s infinite; /* Cambia la duración y la frecuencia si lo deseas */
}


.previewImage {
  border-radius: 15px; /* Redondea los bordes */
  border: 3px solid #000000; /* Borde color morado */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.previewImage {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.previewImage:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el mouse */
}

.previewPdf {
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #000000; /* Borde color morado */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  overflow: hidden; /* Para evitar que el contenido sobresalga */
}

.rotacion {
  transition: transform 1s ease; /* Transición suave */
}

/* Estilo cuando pasas el mouse */
.rotacion:hover {
  transform: rotate(90deg); /* Rotación de 90 grados */
}

/* barra de progreso */
.progress-bar {
  background-color: #6f42c1; /* Color morado */
}

