.input-group {
    display: flex; /* Asegura que los elementos estén en línea */
    width: 100%; /* Asegura que el campo de input y el ícono se ajusten al 100% */
  }

  .input-group-text {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.375rem 0.75rem; /* Ajusta el espaciado del ícono */
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el ícono dentro del span */
  }

  /* Estilos generales para el modal */
.modal-content {
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  background: #ffffff; /* Fondo blanco */
  border: none; /* Elimina el borde por defecto */
}

/* Estilos de la cabecera del modal */
.modal-header {
  border-bottom: none; /* Elimina el borde inferior */
  padding: 20px 30px; /* Espaciado para que se vea más limpio */
  background-color: #ffffffdb; /* Fondo más suave */
  border-top-left-radius: 15px; /* Bordes redondeados en la parte superior */
  border-top-right-radius: 15px; 
}

.modal-header .modal-title {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  color: #333; /* Color del texto */
  font-weight: 600; /* Peso de fuente más fuerte */
}

.form-control {
  border-radius: 10px; /* Bordes redondeados en los inputs */
  border: 1px solid #ddd; /* Borde sutil */
  box-shadow: none; /* Elimina sombra por defecto */
  padding: 12px 15px; /* Espaciado interno más generoso */
  height: auto;
}

.form-control:focus {
  border-color: #5a0280; /* Borde azul claro en el enfoque */
  box-shadow: 0 0 7px rgba(78, 0, 123, 0.5); /* Sombra suave en el enfoque */
}
  