body {
  color: #f1f1f1; /* Gris muy suave */
}

#sidebarMenu {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    width 0.3s ease-in-out;
  width: 280px;
  height: auto; /* Cambiado para que se ajuste automáticamente al contenido */
  min-height: 100vh; /* Asegura que el sidebar siempre ocupe al menos toda la altura de la pantalla */
  opacity: 1;
  transform: translateX(0);
  background: linear-gradient(180deg, #000000, #180081); /* Gradiente azul-morado */
  color: white;
  padding: 1rem 0;
}

#sidebarMenu.hidden {
  transform: translateX(-100%);
  opacity: 0;
  width: 0;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #53006c;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(180deg, #21004c, #7252ff);
}

.navbar .nav-link {
  color: #b0b0b0; /* Gris suave para los enlaces */
  transition: color 0.3s, text-decoration 0.3s;
}


.btn-outline-secondary {
  color: #fff;
  border-color: #fff;
}

.btn-outline-secondary:hover {
  background-color: #fff;
  color: #000;
}

#logoutBtn {
  background-color: transparent;
  color: #e63946; /* Rojo suave */
  border: none;
  font-size: 1.5rem;
  padding: 0;
  transition: transform 0.3s ease;
}

#logoutBtn:hover {
  color: #d62c1a; /* Rojo oscuro para el hover */
  transform: scale(1.2);
}

#sidebarMenu .nav-item {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s, transform 0.3s ease-out;
}

#sidebarMenu:not(.hidden) .nav-item {
  opacity: 1;
  transform: translateX(0);
}

#content {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#wrapper:not(.hidden) #content {
  opacity: 1;
  transform: translateY(0);
}

#sidebarMenu .nav-link {
  opacity: 0.8; /* Hacer el texto un poco menos opaco */
  transition: opacity 0.3s ease;
}

#sidebarMenu .nav-link:hover {
  opacity: 1; /* Restablecer la opacidad al hacer hover */
}

#dashboardArrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Cambiado de left a right */
  z-index: 2000;
  display: none; /* Oculto por defecto */
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Azul más suave para el botón */
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#scrollToTopBtn i {
  font-size: 1.5rem;
}

#scrollToTopBtn:hover {
  background-color: #0056b3; /* Azul más oscuro en hover */
}

/* Estilos para el enlace activo con fondo transparente y blur */
.custom-active {
  background-color: rgba(255, 255, 255, 0.361); 
  color: #ffffff; /* Color del texto cuando esté activo */
  border: 2px solid #3e006b; /* Un borde de color para resaltar el enlace activo */
  border-radius: 15px; /* Bordes más redondeados */
  padding: 10px 15px; /* Ajustar el padding para que se vea bien */
  backdrop-filter: blur(8px); /* Desenfoque de fondo */
}

/* Estilos para el enlace activo con fondo transparente y blur */
.custom-active-sub {
  background-color: rgba(91, 0, 202, 0.361); 
  color: #ffffff; /* Color de texto más claro cuando esté activo */
  border: 2px solid #6e00cf; /* Bordes con un color morado para contrastar con el fondo */
  border-radius: 15px; /* Bordes más redondeados */
  padding: 10px 15px; /* Ajustar el padding para que se vea bien */
  backdrop-filter: blur(5px); /* Desenfoque de fondo */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 2px;
}




/* Estilo para la bienvenida compacta */
.welcome-container {
  padding: 1rem;
  border-radius: 10px;
}

.welcome-message {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.welcome-container i {
  margin-right: 7px;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 8px;
}

.card-header {
  background: linear-gradient(45deg, #6e00cf, #a400d6); /* Gradiente de morado */
  color: #fff; /* Texto blanco */
}


#contenidoModulo {
  max-height: 90vh; 
  overflow-y: auto;
}

/* Personalización del scrollbar */
#contenidoModulo::-webkit-scrollbar {
  width: 8px; /* Hace el scrollbar más compacto */
  height: 8px; /* También puedes modificar la altura del scrollbar horizontal si lo necesitas */
}

#contenidoModulo::-webkit-scrollbar-thumb {
  background-color: #6e00cf; /* Color morado para el "dedo" del scrollbar */
  border-radius: 10px; /* Hace que el thumb sea redondeado */
}

#contenidoModulo::-webkit-scrollbar-track {
  background: transparent; /* Hace que la pista del scrollbar sea invisible o transparente */
}

.container-fluid {
  min-height: 90vh; /* 100% del alto de la ventana */
  display: flex;
  flex-direction: column;
}

#toggleSidebarBtn {
  background-color: rgba(251, 253, 254, 0.479); /* Azul con opacidad del 50% */
  border: none; /* Elimina el borde por defecto */
  color: white; /* Cambia el color del texto a blanco */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el fondo */
}

#toggleSidebarBtn:hover {
  background-color: rgba(99, 174, 255, 0.7); /* Aumenta la opacidad al hacer hover */
}

