.bg-lilac {
    background-color: #9a7ccf !important;
  }

  .bg-cancel {
    background-color: #868686 !important;
  }

  .bg-cancel:hover {
    background-color: #5d5d5d !important;
    color: white;
  }

  .btn-lilac {
    background-color: #9c27b0;
    color: white;
    border: none;
  }

  .btn-lilac:hover {
    background-color: #7b1fa2;
    color: white;
  }

  .header-modal {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 40px;
  }

  .modal-title {
    color: white !important;
    font-size: 20px !important;
  }