.spin_dashboard {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.spinner_dashboard {
    font-size: 3rem; 
    position: absolute; 
}

/* Aplica el estilo solo a pantallas pequeñas (menos de 576px) */
@media (max-width: 575.98px) {
    #btn-filtrar-fechas {
      width: 100%;
      margin-top: 15px;
    }
  }
  