{% extends 'base.html' %} {% block title %}Data Analysis{% endblock %} {% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='modules/modulo-base/sub-modulo-base/css/sub-modulo-base.css') }}" />

<div class="container-fluid py-4">
  <!-- Título del módulo -->
  <h3 class="text-dark d-flex align-items-center text-shadow">
    <i class="fas fa-chart-line mr-2"></i>
    <!-- Icono de análisis de datos -->
    Sub Módulo Base
  </h3>

  <!-- Fila de las tarjetas -->
  <div class="row mt-3">
    <!-- Card 1 -->
    <div class="col-md-12 mt-2">
      <div class="card rounded-lg border-0">
        <div class="card-body text-dark">contenido base</div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="{{ url_for('static', filename='modules/modulo-base/sub-modulo-base/js/index.js') }}"></script>
{% endblock %}
