{% extends 'base.html' %} {% block title %}Data Analysis{% endblock %} {% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='modules/panel-de-control/dashboard/css/dashboard.css') }}" />

<div class="container-fluid py-4">
  <!-- Título del módulo -->
  <h3 class="text-dark d-flex align-items-center text-shadow">
    <i class="fas fa-chart-line mr-2"></i>
    <!-- Icono de análisis de datos -->
    Dashboard
  </h3>

  <!-- Fila de las tarjetas -->
  <div class="row mt-3">
    <!-- Card 1 -->
    <div class="col-md-6 mt-2">
      <div class="card rounded-lg border-0">
        <div class="card-body">
          <h5 class="card-title text-dark text-shadow">Total Users</h5>

          <div style="height: 200px" class="text-center">
            <div class="spin_dashboard" id="spinner_total_users" style="display: none">
              <!-- Spinner (centrado en el card-body) -->
              <div class="fa fa-circle-notch fa-spin color-spin spinner_dashboard" aria-hidden="true"></div>
            </div>
            <!-- Número de usuarios (oculto cuando el spinner esté visible) -->
            <h1 class="text-dark" style="font-size: 5rem; font-weight: bold" id="total_users"></h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-6 mt-2">
      <div class="card rounded-lg border-0">
        <div class="card-body">
          <h5 class="card-title text-dark text-shadow">Number of Users by Role</h5>

          <div style="height: 200px" class="text-center">
            <div class="spin_dashboard" id="spinner_count_by_rol" style="display: none">
              <!-- Spinner (centrado en el card-body) -->
              <div class="fa fa-circle-notch fa-spin color-spin spinner_dashboard" aria-hidden="true"></div>
            </div>
            <!-- Número de usuarios (oculto cuando el spinner esté visible) -->
            <h1 class="text-dark" style="font-size: 5rem; font-weight: bold" id="total_users"></h1>
            <canvas id="count_users_by_roles"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="{{ url_for('static', filename='modules/modulo-don-pepo/nuevo-sub-modulo/js/index.js') }}"></script>
{% endblock %}
