<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <!-- Importando Bootstrap desde el CDN -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7f5bb65cb8.js"
      crossorigin="anonymous"
    ></script>

    <!-- Archivo CSS externo -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <div class="sidebar bg-gradient shadow-lg" id="sidebarMenu">
        <div class="text-center py-3 rounded mb-4">
          <h5 class="text-white mb-0 text-shadow">
            <i class="fa-solid fa-tools"></i> MG System
          </h5>
        </div>

        <ul class="nav flex-column mt-1">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#dashboard"
              data-toggle="collapse"
              aria-expanded="false"
              id="dashboardLink"
            >
              <i class="fa-solid fa-tachometer-alt"></i> Dashboard
              <i
                class="fa-solid fa-angle-down float-right"
                id="dashboardArrow"
              ></i>
            </a>
            <div class="collapse" id="dashboard">
              <ul class="nav flex-column ml-3">
                <li class="nav-item" id="overviewOption">
                  <a id="overviewLink" class="nav-link text-white" href="{{ url_for('index') }}">
                    <i class="fa-solid fa-eye"></i> Overview
                  </a>
                </li>
                <li class="nav-item">
                  <a id="holaMundoLink" class="nav-link text-white act" href="{{ url_for('hola_mundo_page') }}">
                    <i class="fa-solid fa-chart-bar"></i> Hello World
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="container-fluid p-0" id="content">
        <!-- Barra de Navegación -->
        <nav class="navbar navbar-light bg-transparent">
          <button class="btn" id="toggleSidebarBtn">
            <i class="fa-solid fa-chevron-left"></i>
          </button>

          <button class="btn" id="logoutBtn">
            <i class="fa-solid fa-sign-out-alt"></i>
          </button>
        </nav>

        <div class="container-fluid" id="contenidoModulo" style="margin-top: 54px">
          {% block body %} {% endblock %}
        </div>
      </div>
    </div>
    <button id="scrollToTopBtn" class="btn btn-primary rounded-circle">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  </body>
</html>
