{% extends 'base.html' %} 
{% block title %}Data Analysis{% endblock %} 
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}" />

<div class="container-fluid py-4">
  <h3 class="text-dark d-flex align-items-center text-shadow">
    <i class="fas fa-chart-line mr-2"></i>
    User Settings
  </h3>

  <!-- Tabla de Usuarios -->
  <div class="row mt-3">
    <div class="col-12 mb-3">

      <div class="card rounded-lg shadow-lg border-0 position-relative">
        <div class="card-body">
          <h5 class="card-title text-dark">Users</h5>
          
          <!-- Botón de agregar usuario en la esquina superior derecha -->
          <button class="btn btn-primary position-absolute" style="top: 10px; right: 10px;" id="btnAddUser">
            <i class="fas fa-plus"></i> Add User
          </button>

          <hr />
          <div id="loadingSpinner" style="display: block;">
            <i class="fas fa-spinner fa-spin"></i> Loading...
          </div>
          <div class="table-responsive table-sm">
            <table id="tableUsers" class="display text-dark w-100">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>created at</th>
                  <th>Updated At</th>
                  <th>Role</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Aquí se insertarán las filas de usuarios dinámicamente -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="{{ url_for('static', filename='js/users.js') }}"></script>

{% endblock %}
